body {
    background-color: aqua;
}

.joke {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #333;
    color: whitesmoke;
}

.joke2 {
    text-align: right;
    display: flex;
    justify-content: right;
    align-items: right;

    background-color: #123;
    color: whitesmoke;
}

